<div class="cocktail-item">
  <img class="cocktail-image" [src]="cocktail()?.strDrinkThumb" [alt]="cocktail()?.strDrink" />
  <div class="cocktail-info">
    <h1>{{ cocktail()?.strDrink }}</h1>
    <p>{{ cocktail()?.strAlcoholic }} - {{ cocktail()?.strCategory }}</p>
    <p>{{ cocktail()?.strGlass }}</p>
  </div>

  <button class="cocktail-menu" matIconButton aria-label="Más opciones" [matMenuTriggerFor]="menu">
    <mat-icon>more_vert</mat-icon>
  </button>
</div>

<mat-menu #menu="matMenu">
  <button mat-menu-item (click)="toggleFavorite()">
    <mat-icon>{{ cocktail()?.isFavorite ? 'favorite' : 'favorite_border' }}</mat-icon>
    <span>{{ cocktail()?.isFavorite ? 'Eliminar de favoritos' : 'Agregar a favoritos' }}</span>
  </button>
  <button class="btn-details" mat-menu-item [routerLink]="['/cocktail', cocktail()?.idDrink]">
    <mat-icon>liquor</mat-icon>
    <span>Ver detalles</span>
  </button>
</mat-menu>
