<div class="cocktail-item">
  <img class="cocktail-image" [src]="cocktail()?.strDrinkThumb" [alt]="cocktail()?.strDrink" />
  <div class="cocktail-info">
    <h1>{{ cocktail()?.strDrink }}</h1>
    <ul>
      @for( item of ingredientsAndMeasures(); track $index) {
      <li>{{ item }}</li>
      }
    </ul>
    <p>{{ cocktail()?.strInstructionsES }}</p>
  </div>

  <button class="cocktail-menu" matIconButton aria-label="Más opciones" [matMenuTriggerFor]="menu">
    <mat-icon>more_vert</mat-icon>
  </button>
</div>

<mat-menu #menu="matMenu">
  <button mat-menu-item>
    <mat-icon>favorite</mat-icon>
    <span>Agregar a favoritos</span>
  </button>
  <button mat-menu-item>
    <mat-icon>liquor</mat-icon>
    <span>Ver detalles</span>
  </button>
</mat-menu>
