  <div class="cocktail-item skeleton">
    <div class="cocktail-image skeleton-box"></div>
    <div class="cocktail-info">
      <div class="skeleton-line title"></div>
      <ul>
        <li class="skeleton-line"></li>
        <li class="skeleton-line"></li>
        <li class="skeleton-line short"></li>
      </ul>
      <div class="skeleton-line long"></div>
    </div>
    <button class="cocktail-menu" matIconButton aria-hidden="true" disabled>
      <mat-icon>more_vert</mat-icon>
    </button>
  </div>