<div class="details-skeleton">
  <div class="skeleton-box image"></div>
  <div class="info">
    <div class="title skeleton-line"></div>

    <h3 class="section skeleton-line short"></h3>
    <ul>
      <li class="skeleton-line"></li>
      <li class="skeleton-line"></li>
      <li class="skeleton-line short"></li>
    </ul>

    <h3 class="section skeleton-line short"></h3>
    <div class="skeleton-line"></div>
    <div class="skeleton-line"></div>
    <div class="skeleton-line long"></div>
  </div>
</div>