<div class="cocktail-details-modal">
  <h2>{{ cocktail.strDrink }} <button mat-icon-button aria-label="Cerrar" matDialogClose><mat-icon>close</mat-icon></button></h2>
  <div class="cocktail-details-content">
    <img class="cocktail-image" [src]="cocktail.strDrinkThumb" [alt]="cocktail.strDrink" />
    <div class="cocktail-info">
      <h3>Ingredientes:</h3>
      <ul>
        @for( ingredient of ingredientsAndMeasures; track $index) {
        <li>{{ ingredient }}</li>
        }
      </ul>

      <h3>Instrucciones:</h3>
      <p>{{ cocktail.strInstructionsES || cocktail.strInstructions }}</p>
    </div>
  </div>
</div>
